<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>问题后台管理</title>
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='admin/css/sb-admin.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">后台管理</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ url_for('master.admin_home') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">首页</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="{{ url_for('master.issue_status') }}">
                        <i class="fa fa-fw fa-bug"></i>
                        <span class="nav-link-text">问题状态</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">状态管理</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="{{ url_for('master.issue_status_lists') }}">已有状态列表</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">新消息</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>第一</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">第一条内容</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>第二</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">第二条内容</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">查看所有</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="检索">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        退出登录
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('master.admin_home') }}">首页</a></li>
                <li class="breadcrumb-item active">问题列表</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> 问题列表
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>问题标题</th>
                                    <th>提交人</th>
                                    <th>联系方式</th>
                                    <th>问题状态</th>
                                    <th>提交时间</th>
                                    <th>批复状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>序号</th>
                                    <th>问题标题</th>
                                    <th>提交人</th>
                                    <th>联系方式</th>
                                    <th>问题状态</th>
                                    <th>提交时间</th>
                                    <th>批复状态</th>
                                    <th>操作</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% if not issue_lists %}
                                <tr>
                                    <td>暂无数据</td>
                                </tr>
                                {% else %} {% for issue in issue_lists %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ issue.title }}</td>
                                    <td>{{ issue.customer }}</td>
                                    <td>{{ issue.contact }}</td>
                                    <td>{{ issue.status }}</td>
                                    <td>{{ issue.createdtime }}</td>
                                    <td>
                                        {% if not issue.replied %}
                                        <span class="text-danger">未批复</span>
                                        <li class="fa fa-fw fa-times text-danger"></li>
                                        {% else %}
                                        <span class="text-success">已批复</span>
                                        <li class="fa fa-fw fa-check text-success"></li>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('master.check_issue_info', id=issue.id) }}" title="详细"><i class="fa fa-fw fa-info-circle btn btn-default"></i></a>
                                        <a href="{{ url_for('master.reply_issue_info', id=issue.id) }}" title="批复"><i class="fa fa-fw fa-reply btn btn-default"></i></a>
                                    </td>
                                </tr>
                                {% endfor %} {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">已有问题列表</div>
        </div>
    </div>
    {% endblock %}
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © tyou Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">退出登录</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">确认后，您将退出登录</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">否</button>
                    <a class="btn btn-primary" href="{{ url_for('master.sign_out') }}">是</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='admin/js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <!-- Custom scripts for this page-->
    <script src="{{ url_for('static', filename='admin/js/sb-admin-datatables.min.js') }}"></script>


    <script>
        $('#toggleNavPosition').click(function() {
            $('body').toggleClass('fixed-nav');
            $('nav').toggleClass('fixed-top static-top');
        });
    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
        $('#toggleNavColor').click(function() {
            $('nav').toggleClass('navbar-dark navbar-light');
            $('nav').toggleClass('bg-dark bg-light');
            $('body').toggleClass('bg-dark bg-light');
        });
    </script>
</body>

</html>
